.centerSlider.intro {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.mainSlider__center>.center__img>.centerSliderWrap>.centerSlider.s1.intro {
    transform: translateX(0);
    background-image: url(../../img/main01.jpg);
}
.mainSlider__center>.center__img>.centerSliderWrap>.centerSlider.s2.intro {
    transform: translateX(0);
    background-image: url(../../img/main02.jpg);
}
.mainSlider__center>.center__img>.centerSliderWrap>.centerSlider.s3.intro {
    transform: translateX(0);
    background-image: url(../../img/main03.jpg);
}
.mainSlider__center>.center__img>.centerSliderWrap>.centerSlider.s4.intro {
    transform: translateX(0);
    background-image: url(../../img/main04.jpg);
}
.mainSlider__center>.center__img>.centerSliderWrap>.centerSlider.s5.intro {
    transform: translateX(0);
    background-image: url(../../img/main05.jpg);
}